#map{
	height:600px;
	width:80%;
	border-radius:5px;
	border-style: solid;
	border-color:rgb(251,91,137);
	box-sizing: border-box;
	margin-left:10%;
}

.tåg-bild{
	height:200px;
	width:400px;
	border-radius:5px;
	border-style:solid;
	border-color:rgb(251,91,137);
	margin-right:auto;
	margin-left:auto;
}

.tågInfo-wrapper h2{
	font:Benguiat-BoldCondensed, Arial, Helvetica;
	color:rgb(251,91,137);
	flex:1;
}
.tågInfo-wrapper{
	display:flex;
	list-style: none;
	flex:1;
	margin-left:10%;
	margin-top: 4%;
}

.tåget{
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
}

.tågInfo-wrapper ul{
	list-style-type: none;
}

}

.nöjes-bild{
	width:400px;
	height:300px;
	margin-left: auto;
	margin-right:auto;
	box-sizing: border-box;
	border-radius:5px;
	border-style:solid;
	border-color:rgb(251,91,137);
}

.barnevalenBild{
	height: 100%;
	width: 100%;
}

body{
	
	font-family: Benguiat-BoldCondensed, Arial, Helvetica;
	font-size:16px;
	/* line-height:1.6em; */
	
}
html, body {
	margin:0;
	padding:0;
	max-width:100%;
}
header {
	position:-webkit-sticky;
	position:sticky;
	top: 0;
	z-index: 1;
}
header h1{
	padding:0;
	margin:0;
}
a{
	text-decoration: none;
	color:rgb(251,91,137);
}

header ul {
	display: flex;
	margin: 0px;
	list-style:none;
	width:100%;
	padding:0%;
}


header ul li {
	font-family: Benguiat-BoldCondensed, Arial, Helvetica;
	width:25%;
	height: 40px;
	background-color:rgb(251,91,137);
	line-height: 40px;
	text-align: center;
	font-size:20;
	opacity:0.99;
}

header ul li a{
	text-decoration: none;
	color: white;
	display:block;
	font-size:60%;
}

header ul li a:hover{
	background-color:#FB288B;
}

header ul li ul {
	flex-direction: column;
}

header ul li ul li{
	display: none;
}
header ul li ul li ul{
	display:none;
	position:absolute;
	height:auto;
	width:100%;
	margin-left:100%;
	margin-top:-40px;
}
header li li{
	position:relative;
	display:block;
	float:none;
}
header ul li ul li ul a{
	text-align:center;
	display:block;
}

header ul li:hover > ul li{
	display:block;
	width:100%;
}
header ul li ul li:hover >ul{
	display:block;
}
#main-header{
	background-color:white;
	color:rgb(251,91,137);
	text-align: center;
	font-size: 220%;
	margin:0;
	padding:0;

}
.container{
	background-color: white;
	padding:0;
	margin:0;
	top: 0;
	padding:0;
	margin:0;
	border:0;
	width:100%;
	height:20%;

}

header .img-logga{
	width:127px;
	height:60px;
	float: right;
	top: 15%;
	position: absolute;
	right:16px;
	text-align:center;

}
.Logga{
	height: 100%;
}

.img-lundakarnevalsbild2{
	background-image: url(../images/Karneval2010035.jpg);
	width:60%;
	height:;
}

.container-2{
	display:flex;
	justify-content: space-around;
	background-color: #FFFBFF;
	font-family: Benguiat-BoldCondensed, Arial, Helvetica;
	color:#404040;
	width:100%;
	min-height:calc(100vh-40vh);
}

.container-2 div{
	
	padding:20px;
	
}

.container-2-artist{
	display:flex;
	justify-content: space-around;
	background-color: #FFFBFF;
	font-family: Benguiat-BoldCondensed, Arial, Helvetica;
	color:#404040;
	width:100%;
}

.box-1{
	text-align:center;
	width:24%;

}

.box-1 h3{
	font-size:28px;


}
.box-2{
	flex:1;
	text-align:center;
}
.box-2 h3{
	font-size:28px;
}

.box-3{
	text-align:center;
	width:24%;
}
.box-3 h3{
	font-size:28px;
}

.box-3-ansök{
	flex:1;
	text-align:center;
}

.artister-wrap {
	display: flex;
	flex-wrap: wrap;
}

.container-2-box{
	width:30%;
}

.gap-40 {
	width:100%;
	height:40px;
}

.commentHeader{
	text-align: center;
	background-color:#222;
	color:white;
	padding-top: 0.1%;
	padding-bottom: 0.1%;
}

.commentsection{
	display:flex;
	text-align:center;
	height:auto;
}

.commentSide{
	flex:1;
	border: 1px solid #a1a1a1;
	margin:10px auto 10px auto;
	border-bottom: 1px solid #e1e1e1;
	
}

.commentInfo{
	flex:1;
	margin:10px auto 10px auto;
}

.commentTextArea{
}
.commentBox{
	padding:1%;
	width:96%;
	border:1 px solid #000;
	background-color:#f0f0f0;
	margin-bottom:10px;
}
textarea{
	resize:none;
	height:60px;
	width:300px;
}

comment-wrapper{
	margin: 10px;
	border: 1px solid #e1e1e1;
	height: auto;
	width:auto;
}

.comments-list{
	width:auto;
	height:auto;
	font-size:13px;
	margin:10px 5px 10px 5px;
	color: #555;
}

ul.comments-holder-ul
{
	list-style-type:none;
	margin: 0px;
	padding: 0px;
	width: auto;
	height:auto;
	overflow:hidden;
	text-align: left;
}

ul.comments-holder-ul li.comment-holder
{
	list-style-type:none;
	background:#fffff5;
	height:auto;
	width:auto;
	margin:5px 5px 5px 5px;
	border: 1px solid #e1e1e1;
	border-radius:8px;
	overflow:hidden;
}

ul.comments-holder-ul li.comment-holder:hover
{
	background: #FFFFD8;
}

ul.comments-holder-ul li.comment-holder h3.name-field{
	color:#2E5CB8;
	margin-left: 10px;
	margin-right: 10px;
	width:auto;
	height:auto;
}

ul.comments-holder-ul li.comment-holder .comment-text{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width:auto;
	max-height:100%;
	display:block;
	font-size:14px;
	word-wrap:normal;
}
.commentsection button{
	width:20%;	
}




/*-----------------FOOTER------------*/

.facebook-wrapper{
	position:absolute;
	margin-left:5%;
	width:5%;
	height:15%;
}

.facebooklogo{
	width:100%;

}

.twitter-wrapper{
	position:absolute;
	margin-left:12%;
	width:3.5%;
	margin-top:0.45%;
	
}
.twitterlogo{
	width:100%;
	border-radius:10%;
}
.instagram-wrapper{
	position:absolute;
	margin-left:18%;
	width:4.1%;
	margin-top:0.18%;
}
.instragramlogo{
	width:100%;
}
.youtube-wrapper{
	position:absolute;
	margin-left:24%;
	width:5%;
	margin-top:0.45%;
}
.youtubelogo{
	width:100%;
}
.footer {
	width:100%;
	background-color: #222;
	padding-top:5%;
	padding-bottom:5%;
	color:white;
	display:flex;
	font-size:100%;
}

.right-footer{
	flex:1;
	background-color:inherit;
	text-align:center;
}

.left-footer{
	flex:1;
	background-color:inherit;
	text-align:center;
}

.left-footer a{
	color:white;
}
.center-footer{
	flex:1;
	text-align:center;
	

}
.center-footer li{
	font-size:100%;
	display:inline-block;
	text-align:center;
	margin-right:5%;
}
.center-footer li span{
	display:block;
	font-size:200%;
}

.NyhetWrapper {
	width: 90%;
	text-align:center;
	
}

.nyhet1{
	width:100%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:2%;
}
.nyhetsbild1 {
	width:40%;
	border-radius:50%;
	
}
.nyhet2{
	width:100%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:2%;
	margin-top:5%;
}
.nyhetsbild2{
	width:40%;
	border-radius:50%;
}

.nyhet3{
	width:100%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:2%;
	margin-top:5%;
}
.nyhetsbild3{
	width:40%;
	border-radius:50%;
}

.nyhet4{
	width:100%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:2%;
	margin-top:5%;
}
.nyhetsbild4{
	width:40%;
	border-radius:50%;
}

.omKarneval{
	width:100%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:2%;
}
.omKarneval p{
	word-wrap: break-word;
}


.Bild-1{

	max-width:90%;
	height:auto;
	border-radius:8px;
	
}

.bild-1-wrapper{
	max-width:100%;
	border: none !important;
	text-align:center;
	position:relative;
}

.mySlides1, .mySlides2{
	display:none;
	border-radius:50%; 
}

.Bild-2{

	max-width:90%;
	height:auto;
	border-radius:8px;
	
}

.bild-2-wrapper{
	max-width:100%;
	border: none !important;
	text-align:center;
	position:relative;
}

.hide-bliKarnevalist{
	display:none;
}

.hide-omKarnevalen{
	display:none;
}
.Hittahitbild{
	width:100%;
}

.box-2-omKarneval{
	text-align: center;
	max-width: 100%

}
.box-2-omKarneval article p{
	word-wrap:break-all;
	margin-right: 2%
}

.artist-bild{
	width:50%;
	height:50%;
	border-radius: 8px;
}

@media only screen and (max-width: 1024px)  {

	.nöjes-bild{
		width:200px;
		height:150px;
		margin-left: auto;
		margin-right:auto;
	}

	p {
		font-family:arial;
	}

	.box-1{
		display:none;
	}
	.box-3{
		width:40%;
	}
	header ul li:active ul li{
		display:block;
		width:100%;
	}
	header .img-logga{
		display:none;
	}
	.hide-bliKarnevalist{
		display:block;
	}

	.hide-omKarnevalen{
		display:block;
	}
	.footer{
		padding-top:5%;
		padding-bottom:15%;
		width:100%;

	}
	.right-footer h2{
		margin-left:-25%;
	}
	.center-footer{
		display:none;
	}

	form {
		width:100%;
		height:auto;
		font-size:100%;	
	}
	input{
		border:1px solid;
	}


	.box-3-artister-klass{

		display:none;
	}

	.container-2-artist{
		display:flex;
		justify-content: space-around;
		background-color: #FFFBFF;
		font-family: Benguiat-BoldCondensed, Arial, Helvetica;
		color:#404040;
		width:100%;
		background-image:url(https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
		min-height:80vh;
		background-size:cover;
	}

	.commentInfo button{
		width:60%;
	}

	.commentInfo input{
		width:100px;
		font-size:60%;
	}

	textarea{
		resize:none;
		height:30px;
		width:80px;
	}
}



@media only screen and (max-width: 767px)  {

	.artister-wrap .nöje1{
		width:95%;
		display:;

	}

	.Nöjenwrapper .nöje3{
		width:80%;
	}

	.artistwrapper img{
		display:none;
	}

	.artistwrapper h2{
		font-size:15px;
	}

	.artistwrapper h1{
		color:white;
	}

	.artister-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items:center;
		justify-content: center;
	}

	.artister-wrap .nöje1{

	}
	.box-1{
		display:none;	
	}
	.box-3{
		display:none;
	}
	header ul li:active ul li{
		display:block;
		width:100%;
	}
	#main-header{
		background-color:white;
		color:rgb(251,91,137);
		text-align: center;
		font-size: 100%;
		margin:0;
		padding:0;

	}

	.commentInfo button{
		width:60%;
	}

	.commentInfo input{
		width:100px;
		font-size:60%;
	}

	textarea{
		resize:none;
		height:30px;
		width:80px;
	}

	.left-footer{
		font-size:50%
	}
	.right-footer{
		font-size:50%;
	}
	.right-footer h2{
		margin-left:-25%;


	}
	header .img-logga{
		display:none;
	}
	.footer{
		padding-top:5%;
		padding-bottom:20%;
	}

	.NyhetWrapper2 {
		width: 80%;
		text-align:center;

	}
	.box-3-ansök{

		width:50%;
	}
	.box-2-ansök{
	}

	form {
		width:100%;
		height:auto;
		font-size:100%;	
	}
	input{
		width:110%;
		font-size:80%;
		border:1px solid;
	}

	.box-3-artister-klass{

		display:none;
	}
	.center-footer{
		display:none;
	}

}


/*---Submitknapp-form-Ansök--- */

.submitbtn{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

.submitbtn:hover{
	opacity:0.9;
}
.container-2-nöje{
	width:100%;
}
.Nöjenwrapper{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}


.nöje1{
	width: 40%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:3%;
	text-align:center;
	display:inline-block;
	height:auto;
	background-color: #FFFBFF;
	margin-top:5%;
	margin-right: auto;
    margin-left: auto;
}

.nöje2{
	width:40%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:3%;
	text-align:center;
	display:inline-block;
	height:auto;
	margin-top:5%;
	background-color: #FFFBFF;
	margin-right: auto;
    margin-left: auto;

}

.box-3-nöje{
	width:100%;
	background-color:pink;
	text-align:center;
}

.box-3-nöje h1{
	

}
.nöje3{
	width:40%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:3%;
	text-align:center;
	display:inline-block;
	height:auto;
	background-color: #FFFBFF;
	margin-top:2.5%;
	margin-left: auto;
	margin-right:auto;
}

.nöje4{
	width:40%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:3%;
	text-align:center;
	display:inline-block;
	height:auto;
	background-color: #FFFBFF;
}

.nöje5{
	width:40%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:3%;
	text-align:center;
	display:inline-block;
	height:auto;
	background-color: #FFFBFF;
	margin-top:2.5%;
}

.nöje6{
	width:40%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:3%;
	text-align:center;
	display:inline-block;
	height:auto;
	background-color: #FFFBFF;
	margin-bottom:5%;
}


#myVideo{

	width:100%;

}

.box-3-artister{
	z-index:0;
}
.box-3-tåg{
	text-align:center;
}

.tågmain-wrapper{
	display:flex;
	flex-wrap: wrap;
}

.bottomTåg-wrapper{
	width:60%;
	text-align: center;
	margin-right:auto;
	margin-left:auto;
}

.färdväg{
	width:100%;
	height:100%;
}

.färdväg-wrapper{
	flex:1;
	width:;
	height:;
	margin-bottom: 5%;
	margin-right:2%;
}

.tåget-wrapper{
	width:70%;
	padding-left:15%;
	padding-right:15%;
	display:flex;
	flex-wrap: wrap;
}

.tåget-p{
	width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.box-2-blikarnevalist{
	width:50%;
	text-align:center;
	padding-left:25%;
	padding-right:10%;
	margin-bottom:10%;

}
.box-2-sektioner{
	width:50%;
	text-align:center;
	padding-left:25%;
	padding-right:10%;
	margin-bottom:10%;
}
.box-2-administerIT{
	width:50%;
	text-align:center;
	padding-left:25%;
	padding-right:10%;
	margin-bottom:10%;
}
.box-2-biljonsen{
	width:50%;
	text-align:center;
	padding-left:25%;
	padding-right:10%;
	margin-bottom:10%;
}
.box-2-blädderiet{
	width:50%;
	text-align:center;
	padding-left:25%;
	padding-right:10%;
	margin-bottom:10%;

}
.box-2-dansen{
	width:50%;
	text-align:center;
	padding-left:25%;
	padding-right:10%;
	margin-bottom:10%;

}
.artistwrapper{
	width:70%;
	padding-left:15%;
	padding-right:15%;
	text-align:center;
	margin-top:5%;
}
.artister{
	width:100%;
	text-align:center;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:3%;
	text-align:center;
	height:auto;
	background-color: #FFFBFF;

}
.artistwrapper img{
	height:150px; 
	width:200px;
}
}
}
}



