<!DOCTYPE html>
<html>
body{
	
	font-family: Benguiat-BoldCondensed, Arial, Helvetica;
	font-size:16px;
	line-height:1.6em;
	
}
html, body {
	margin:0;
	padding:0;
	max-width:100%;
}
header {
	position:-webkit-sticky;
	position:sticky;
	top: 0;
	z-index: 1;
}
header h1{
	padding:0;
	margin:0;
}

header ul {
	margin: 0px;
	list-style:none;
	width:100%;
	padding:0%;
}


header ul li {
	font-family: Benguiat-BoldCondensed, Arial, Helvetica;
	float: left;
	width:25%;
	height: 40px;
	background-color:rgb(251,91,137);
	line-height: 40px;
	text-align: center;
	font-size:20;
	opacity:0.99;
}

header ul li a{
	text-decoration: none;
	color: white;
	display:block;
	font-size:60%;
}

header ul li a:hover{
	background-color:#FB288B;
}

header ul li ul li{
	display: none;
}

header ul li:hover ul li{
	display:block;
	width:100%;
}
#main-header{
	background-color:white;
	color:rgb(251,91,137);
	text-align: center;
	font-size: 220%;
	margin:0;
	padding:0;

}
.container{
	background-color: white;
	height:20%;
	padding:0;
	margin:0;
	top: 0;
	padding:0;
	margin:0;
	border:0;
	width:100%;

}

header .img-logga{
	width:127px;
	height:60px;
	float: right;
	top: 15%;
	position: absolute;
	right:16px;
	text-align:center;

}
.Logga{
	width:50%;
}
	
}

.img-lundakarnevalsbild2{
	background-image: url(../images/Karneval2010035.jpg);
	width:60%;
	height:;
}

.container-2{
	display:flex;
	justify-content: space-around;
	background-color: #FFFBFF;
	font-family: Benguiat-BoldCondensed, Arial, Helvetica;
	color:#404040;
	width:100%;

	
}

.container-2 div{
	
	padding:20px;
	overflow-x:hidden;
}

.box-1{
	text-align:center;
	width:24%;

}

.box-1 h3{
	font-size:28px;


}
.box-2{
	flex:1;
	text-align:center;
}
.box-2 h3{
	font-size:28px;
}

.box-3{
	text-align:center;
	width:24%;
}
.box-3 h3{
	font-size:28px;
}

.box-3-ansök{
	flex:1;
	text-align:center;
}

.container-2-box{
	width:30%;
}

.gap-40 {
	width:100%;
	height:40px;
}
/*-----------------FOOTER------------*/

.facebook-wrapper{
	position:absolute;
	margin-left:12%;
	width:5%;
	height:15%;
}

.facebooklogo{
	width:100%;

}

.twitter-wrapper{
	position:absolute;
	margin-left:19%;
	width:3.5%;
	margin-top:0.45%;
	
}
.twitterlogo{
	width:100%;
	border-radius:10%;
}
.instagram-wrapper{
	position:absolute;
	margin-left:25%;
	width:4.1%;
	margin-top:0.18%;
}
.instragramlogo{
	width:100%;
}
.youtube-wrapper{
	position:absolute;
	margin-left:31%;
	width:5%;
	margin-top:0.45%;
}
.youtubelogo{
	width:100%;
}
.footer {
	width:calc(100% - 80px);
	background-color: #222;
	padding: 5% 40px;
	color:white;
	display:flex;
	font-size:100%;
}

.right-footer{
	flex:1;
	background-color:inherit;
	text-align:center;
}

.left-footer{
	flex:1;
	background-color:inherit;
	text-align:center;
}

.left-footer a{
	color:white;
}

.NyhetWrapper {
	width: 90%;
	text-align:center;
	
}

.nyhet1{
	width:100%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:2%;
}
.nyhetsbild1 {
	width:40%;
	border-radius:50%;
	
}
.nyhet2{
	width:100%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:2%;
	margin-top:5%;
}
.nyhetsbild2{
	width:40%;
	border-radius:50%;
}

.nyhet3{
	width:100%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:2%;
	margin-top:5%;
}
.nyhetsbild3{
	width:40%;
	border-radius:50%;
}

.nyhet4{
	width:100%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:2%;
	margin-top:5%;
}
.nyhetsbild4{
	width:40%;
	border-radius:50%;
}

.omKarneval{
	width:100%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:2%;
}
.omKarneval p{
	word-wrap: break-word;
}


.Bild-1{

max-width:90%;
height:auto;
border-radius:8px;
	
}

.bild-1-wrapper{
	max-width:100%;
	border: none !important;
	text-align:center;
}

.Bild-2{

max-width:90%;
height:auto;
border-radius:8px;
	
}

.bild-2-wrapper{
	max-width:100%;
	border: none !important;
	text-align:center;
}

.hide-bliKarnevalist{
	display:none;
}

.hide-omKarnevalen{
	display:none;
}
.Hittahitbild{
	width:100%;
}

.box-2-omKarneval{
	text-align: center;
	max-width: 100%

}
.box-2-omKarneval article p{
	word-wrap:break-all;
	margin-right: 2%
}

@media only screen and (max-width: 1024px)  {
	.box-1{
		display:none;
	}
	.box-3{
		width:40%;
	}
	header ul li:active ul li{
	display:block;
	width:100%;
	}
	header .img-logga{
		display:none;
	}
.hide-bliKarnevalist{
	display:block;
}

.hide-omKarnevalen{
	display:block;
}
.footer{
	padding:13% 45px;
}

form {
	width:100%;
	height:auto;
	font-size:100%;	
}
input{
	border:1px solid;
}

}


@media only screen and (max-width: 767px)  {
	.box-1{
		display:none;	
	}
	.box-3{
		display:none;
	}
	header ul li:active ul li{
	display:block;
	width:100%;
}
#main-header{
	background-color:white;
	color:rgb(251,91,137);
	text-align: center;
	font-size: 100%;
	margin:0;
	padding:0;

}
.left-footer{
	font-size:50%;
}
.right-footer{
	font-size:50%;
}
.right-footer h2{
	margin-left:20%;
	
}
header .img-logga{
	display:none;
}
.footer{
	padding:20% 45px;
}

.NyhetWrapper2 {
	width: 80%;
	text-align:center;

}
.box-3-ansök{

	width:50%;
}
.box-2-ansök{
}

form {
	width:100%;
	height:auto;
	font-size:100%;	
}
input{
	width:110%;
	font-size:80%;
	border:1px solid;
}

}


/*---Submitknapp-form-Ansök--- */

.submitbtn{
	width:80%;
	margin-left: auto;
    margin-right: auto;
}

.submitbtn:hover{
	opacity:0.9;
}
.container-2-nöje{
	width:100%;
	
}
.nöjenwrapper{
	width:100%;
	
}
.nöje1{
	width:40%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:3%;
	text-align:center;
	display:inline-block;
	height:auto;
	background-color: #FFFBFF;
}

.nöje2{
	width:40%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:3%;
	text-align:center;
	display:inline-block;
	height:auto;
	background-color: #FFFBFF;

}

.box-3-nöje{
	width:100%;
	display:flex;
	background-color:pink;
	text-align:center;
}
.nöje3{
	width:40%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:3%;
	text-align:center;
	display:inline-block;
	height:auto;
	background-color: #FFFBFF;
	margin-top:2.5%;
}

.nöje4{
	width:40%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:3%;
	text-align:center;
	display:inline-block;
	height:auto;
	background-color: #FFFBFF;
}

.nöje5{
	width:40%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:3%;
	text-align:center;
	display:inline-block;
	height:auto;
	background-color: #FFFBFF;
	margin-top:2.5%;
}

.nöje6{
	width:40%;
	box-shadow: 0 5px 10px rgba(154,160,185,.05),0 15px 40px rgba(166,173,201,.2);
	border-radius: 5%;
	padding:3%;
	text-align:center;
	display:inline-block;
	height:auto;
	background-color: #FFFBFF;
}


#myvideo{

position:fixed;
}

.box-3-artister{
	z-index:0;
}
.box-3-tåg{
	text-align:center;
}
.färdväg{
	width:70%;
}
.tåget-wrapper{
	width:70%;
	padding-left:15%;
	padding-right:15%;
}
}
}



